* { 
    padding: 0;
    box-sizing: border-box; 
}

.achtergrond {
    background-color: #FCFDF2;
}    

/* Navigatie menu*/

.logo img {
    width: 20em; 
}

.navlogo {
    display:none;
    position: absolute;
    right:0; 
    cursor: pointer;
}

#check {
    display: none;
}

.navlogo img { 
    width: 5em;
    margin-right: 15px;
}

.close-icons img {
    width: 5em;
    margin-right: 15px;
}

.close-icons {
    display: none;
}


header {
    display:flex;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background:rgba(237, 237, 237, 0.554);
}

ul {
    font-size: 15pt;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content:right;
    align-items:start;
    flex-direction: row;
    flex-wrap:wrap;
    font-family: "roboto mono";
    font-weight: bold;
}

li a {
    text-decoration: none;
    color:#4C5322; 
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    list-style: none;
    margin:auto; 
}

li a:hover {
    border-bottom:2px solid #A6CF8E; 
}

li {
    list-style: none;
    display: flex;
    margin: 0 20px;
}

li img {
    width: 5em;
    margin:auto;
    padding:5pt;  
}

/* Home pagina */

.square {
    text-align: center;
    justify-content: center;
    color:#124016; 
    font-size: 15pt;
    font-family: 'playfair display';
}

.square h1 {
    color: #404218;
    padding-top: 8em;
    font-weight: bold;
    text-transform: uppercase;
}

.square p {
    padding-bottom: 2em;
}

.square img {
    width:100%;
    padding-top:3em;
    padding-bottom: 5em;
    
}

.button {
    color: #F5F5F5;
    background-color: #404218;
    padding: 20px;
    padding-left: 2em;
    padding-right: 2em;
    border: 3px solid #404218;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'playfair display';
    display: inline-block;
    margin-top: 15px;
}

.button:hover {
    background-color: transparent;
    color:black; 
}

.blogcard h2 {
    padding-bottom:auto;
}

.blogcard {
    background-color: #124427;
    color:#A8A88D; 
    border-radius: 4em;
    padding: 2em;
    font-size: 13pt;
    flex-wrap:wrap-reverse;
    flex-direction: column;
    font-family: 'playfair display';
    box-shadow:0 0 30px 5px rgba(0, 0, 0, 0.203);
}

#blog img {
    width:70vw;
    border-radius: 3em;
    margin:1em;
    flex-wrap:wrap;
    display:flex;
}

#blog {
    display:flex;
    flex-wrap: wrap;
}

.buttonblog {
    color: #F5F5F5;
    background-color: #404218;
    padding: 20px;
    padding-left: 2em;
    padding-right: 2em;
    border: 3px solid #404218;
    border-radius: 30px;
    font-weight: bold;
    font-family: 'playfair display';
    justify-content: center;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
}

.content {
    display: none;
    transition: 0.5s linear;
}

#check1:checked  ~ .content {
    display: block;
}

#check1 {
    display: none;
}

/* Mobile  en ipad screen*/

@media only screen and (max-width:1080px) { 
    
    .logo img {
        width: 17em;  

    }
    .navbar {
        position: absolute;
        left:0;
        width: 100%;
        top:10vh;
        flex-direction: column;
        height:0; 
        overflow: hidden;

    } 

    #check:checked ~ .navbar { 
        height: 100em;

    }

    .navlogo {
        display: block; 

    }

    ul {
        background-color: #A8A88D;
        font-size: 13pt;
        padding: 2em;
        flex-direction: column;

    }

    li a {
        display: block;
        margin:2em;
        border-bottom: 1px solid #404218;

    }
    li img {
        width: 5em;
        margin:auto;
        padding:auto; 
    }
    h1 {
        color: #404218;
        padding-bottom: 4em;
        padding-top: 5em;
        text-align: center;
        font-size: 20pt;
        text-transform: uppercase;
        font-weight: bold;

    
}
}
@media only screen and (max-width:500px) {
    

    .icons {
        display: inline-flex;

    }

    .logo img {
        width: 15em;

    }

    .navbar {
        position: absolute;
        left:0;
        width: 100%;
        top:10vh;
        flex-direction: column;
        height:0; 
        overflow: hidden;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);

    } 

    li a {
        display: block;
        margin:2em;
        border-bottom: 1px solid #404218;
           
    }

    .navlogo {
        display: block; 

    }

    .close-icons {
        display: none;

    }

    #check:checked ~.icons .navlogo {
        display: none;

    }

    #check:checked ~.icons .close-icons {
        display: block;
        padding-left: 2em;

    }

    ul {
        background-color: #A8A88D;
        font-size: 10pt;
        flex-direction: column;
        margin-top:1em; 

    }

    li a:hover {
        border-bottom:2px solid #A6CF8E; 

    }

    .square h1 {
        color: #404218;
        padding-bottom: 2em;
        font-size: 20pt;

    }

    li img {
         width: 5em;
         margin:auto;
         padding:auto; 
         left: 5em;
    }
}

h1 {
    color: #404218;
    padding-bottom: 1em;
    padding-top: 8em;
    text-align: center;
    font-size: 22pt;
    text-transform: uppercase;
    font-weight: bold;
}

/* Events*/

.card {
    color:#a1a18a;
    padding: 2em;
    font-size: 13pt;
    margin-bottom: 2em;
    font-family: 'roboto mono';
    background-color: whitesmoke;
    border-radius: 2em;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-transform: uppercase;

}

.card p {
    color:black;

}

.buttonevents {
    text-align: center;
    padding:2em;
    display: flex;
    justify-content: space-evenly;

}

.buttonmeerinfo {
    color: black;
    background-color: transparent;
    padding: 1em;
    font-family: 'playfair display';
    text-align: center;

}

.eventsfoto img {
    width: 100%;
    border-radius: .5rem;

}

.separator {
    height: 6px;
    background-color: #404218;
    margin-bottom: 16px;

}

h3 {
    color: #A8A88D;
    font-size: 17pt;
    text-align: center;
    justify-content: center;
    margin-top:5em;
    font-family: 'playfair display';
    padding-top: 3em;
    text-transform: uppercase;

}


.locatie img{ 
    width: 100%;
}

.locatie p {
    margin: 2em;
    font-size: 15pt;

}

.locatie {
    background-color: #124427;
    color: #A8A88D; 
    font-size: 15pt;
    margin-top: 2em;
    font-family: 'playfair display';

}

iframe {
    width: 100%;
}

.button1 {
    color: black;
    background-color:#a1a18a ;
    padding:1em;
    border: 3px solid whitesmoke;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'roboto mono';
    text-align: center;
    font-weight: bold;
}

.button1:hover { 
    background-color: transparent;
    border: 3px solid #a1a18a;

}

/* Inspiratiegallerij */

.button2 {
    color: rgba(0, 0, 0, 0.538);
    background-color:#a1a18aa2 ;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 0.5em;
    border: 2px solid transparent;
    text-decoration: underline;
    font-family: 'roboto mono';
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.keywords {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-bottom: 5em;
}

.keywords img {
    width: 100%;

}

.search {
    width: 100%;
    display: flex;
    padding:10px;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #a1a18a;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    color: grey;
  }

  .inspoicon img {
    width: 23%;
  }
  

/* Contact */

.info {
    color: #124016; 
    font-size: 12pt;
    font-family: 'playfair display';
    margin: 2em;
    justify-content: center;
    text-align: center;
}

.info p {
    border: 1px solid transparent;
    background-color:#12401624; 
    padding:2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.392);
}

.info img {
    width: 20%;
    
}

.contact h2 {
    color: #A8A88D;
    font-weight: bold;
}

.contact, .contact-info {
    width: 100%;
    margin: 20px auto;
    background-color:#124016;
    padding: 20px;
    border-radius: 5px;
    font-family: 'playfair display';
    color: #A8A88D;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.392);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #009688;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'roboto mono';
    font-weight: bold;
}

.contact-info p {
    margin: 10px 0;
}



