* { 
    padding: 0;
    box-sizing: border-box; 
}

/* Navigatie menu*/

body {
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(237, 237, 237, 0.554);
}

.logo img {
    width: 10em; 
    padding-top: 2em;
}

.icons img {
    padding-right: 0em;
    width: 5em;
    cursor: pointer;
    display: none;
    display: inline-flex;
}

#check:checked~.icons .navlogo {
    display: none;
}

.icons .close-icons {
    display: none;
}

#check:checked~.icons .close-icons {
    display: block;
}

.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0rem;
    background: #e9e9e1;
    overflow: hidden;
    transition: 0.3s ease;
}

#check:checked~.navbar {
    height: 15.5rem;
}

#check:checked~.navbar a {
    transform: translateY(0);
}

#check {
    display: none;
}

ul {
    font-size: 15pt;
    padding: 35px 0;
    font-family:'sora';
    font-weight: bold;
    justify-content: space-between;
    text-transform: uppercase;
}

li a {
    text-decoration: none;
    color:#000000; 
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    list-style: none;
    margin:auto; 
}

li a:hover {
    border-bottom:2px solid #A6CF8E; 
}

li {
    list-style: none;
    margin-bottom: 2em;
}


/* Home pagina */

.square {
    text-align: center;
    justify-content: center;
    color:black;
    font-family: 'sora'; 
}

.fotohome {
    width: 100%;
    padding: 2em;
}

h1 {
    color: black;
    padding-top: 2em;
    text-transform: uppercase;
    font-size: 16pt;
    padding: 2em 0.5em 1.2em 0.5em;
    font-family: 'sora';
    text-align: center;
}

h2 {
    color: black;
    padding-top: 2em;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'sora';
    text-align: left;
}

.square p {
    padding-bottom: 2em;
}

.square img {
    width:100%;
    padding: 3em 1em 2em 1em;
}

.button {
    color: #F5F5F5;
    background-color: #B19470;
    padding: 20px;
    padding-left: 2em;
    padding-right: 2em;
    border: 3px solid #B19470;
    text-decoration: none;
    font-family: 'sora';
    display: inline-block;
    margin-top: 15px;
    text-transform: uppercase;
}

.button:hover {
    background-color: transparent;
    color:black; 
}

.buttonkraampje {
    color: #F5F5F5;
    background-color: #B19470;
    padding: 20px;
    padding-left: 2em;
    padding-right: 2em;
    border: 3px solid #B19470;
    text-decoration: none;
    font-family: 'sora';
    margin-top: 15px;
    text-transform: uppercase;
    display: flex;

}

.buttonkraampje img {
    width: 4em;
    height: 4em;
  
}

main {
    padding-top: 10em;
}

.blogcard {
    color:rgb(0, 0, 0); 
    padding: 2em;
    margin-top: 2em;
    font-size: 11pt;
    font-family: 'sora';
}

#blog img {
    width:50vw;
    border-radius: 3em;
    margin:1em;
    flex-wrap:wrap;
    display:flex;
}

#blog {
    display:flex;
    flex-wrap: wrap;
}

.buttonblog {
    color: #F5F5F5;
    background-color: black;
    padding: 20px;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 30px;
    font-weight: bold;
    font-family: 'sora';
    justify-content: center;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
}

.content {
    display: none;
    transition: 0.5s linear;
}

.blog2 {
    color:black; 
    padding: 2em;
    margin-top: 2em;
    font-size: 11pt;
    font-family: 'sora';
    flex-wrap: wrap;
}

.blogcard h1 {
    color: black;
    padding-top: 2em;
    text-transform: uppercase;
    font-size: 2em;
    padding: 2em 0.5em 1.2em 0.5em;
    font-family: 'sora';
    text-align: center;
}

.blogcard1 img {
    width: 100%;
    padding-left: 1em;
}

#check1:checked  ~ .content {
    display: block;
}

#check1 {
    display: none;
}


/* Events*/

.card {
    font-family: 'sora';
    cursor: pointer;
    text-transform: uppercase;
   
}

.card h3 {
    color: grey;
    padding: 2em 0.5em 1.2em 0.5em;
    font-size: 11pt;
}

.datum {
    font-family: 'sora';
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    padding: 1.5em;

}

.card p {
    color:black;
    font-size: 13px;
    margin-top: 2em;

}

.buttonevents {
    text-align: center;
    padding: 3em;

}

.buttonevents img{
     width: 2em;
     height: 2em;
}


.eventsfoto img {
    width: 100%;
    border-radius: .5rem;

}

.separator {
    height: 3px;
    background-color: black;
    width: 10em;
}

.separator1 {
    height: 3px;
    background-color: rgb(112, 111, 111);
    width: 100%;
}

.locatie img{ 
    width: 100%;
}

.locatie p {
    margin: 2em;
    font-size: 15pt;

}

.locatie h4 {
    text-align: center;
    padding-top: 2em;
    color: white;
}

.locatie {
    background-color: #B19470;
    color: #ffffff; 
    font-size: 15pt;
    margin-top: 2em;
    font-family: 'sora';

}

iframe {
    width: 100%;
}

.button1 {
    color: black;
    background-color:#a1a18a ;
    padding:1em;
    border: 3px solid whitesmoke;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'roboto mono';
    text-align: center;
    font-weight: bold;
}

.button1:hover { 
    background-color: transparent;
    border: 3px solid #a1a18a;

}

.button3 {
    background-color: transparent;
}

/* Inspiratiegallerij en blog */

.keywords {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-bottom: 5em;
}

.keywords img {
    width: 100%;

}

.search {
    width: 100%;
    display: flex;
    padding:10px;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #a1a18a;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    color: grey;
  }

  .inspoicon img {
    width: 23%;
  }
  

/* Contact */

.info {
    color: #020202; 
    font-size: 12pt;
    font-family: 'sora';
    margin: 2em;
    justify-content: center;
    text-align: center;
}

.info p {
    border: 1px solid transparent;
    background-color:#e9e9e1; 
    padding: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.392);
}

.info img {
    width: 20%;
    padding-top: 2em;
    
}

.contact h2 {
    color: #ffffff;
    font-weight: bold;
}

.contact {
    width: 100%;
    margin: 20px auto;
    background-color:#B19470;
    padding: 20px;
    border-radius: 5px;
    font-family: 'sora';
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.392);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #683D14;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'roboto mono';
    font-weight: bold;
}

.contact-info h3, h4 {
    text-align: center;
    color: #000000;
    font-family: 'open sans';
    font-weight: bold;
    font-size: 1.5em;;
    padding: 1.5em;
    position: relative;

}

.contact-info { 
    width: 100%;
    color: #000000;
    font-family: 'open sans';
    font-weight: bold;
    padding-top: 4em;
}

.contact-info img{
    width: 100%;
    position: absolute;
    padding-right: 1rem;
}
.contact-info p, li {
    position: relative;
    text-align: center;
}

